.mm-account-picker {
    padding-top: 24px;
    text-align: center;

    .form-buttons {
        padding-top: 32px;
    }

    .mm-not-installed {
        padding-bottom: 32px;
    }
}
.add-account-button{
    background: #31bc3c !important;
    box-shadow: -1px 10px 20px #31bc3c9e !important;
}
