.body{
    height: 100vh;
    overflow: hidden;
}
.std-view {
    main.main {
        padding: 32px;
        max-height: calc(100vh - 80px);
        overflow: hidden;
        overflow-y: hidden;
        overflow-y: scroll;
        scrollbar-width: none;
    }
    main.main::-webkit-scrollbar{
        display: none;
    }

    h1, .h1 {
        font-size: 42px;
        font-weight: normal;
        text-align: center;
        margin-top: 0;
        margin-bottom: 8px;
    }

    h2, .h2 {
        font-size: 31px;
        font-weight: normal;
    }

    h3, .h3 {
        font-size: 26px;
        font-weight: normal;
    }
}
