.transaction-info {
    padding-bottom: 16px;
}
button.fbutton.btn.btn.large.break-word.fbutton-nolabel{
    background: #31bc3c !important;
    color: #fff !important;
    box-shadow: 0 15px 30px -8px #31bc3c !important;
}
button.btn.secondary.large.break-word {
    border-radius: 32.5px !important;
    background: #e200000d !important;
    color: #e20000 !important;
    font-size: 22px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    border: none !important;
    outline: none !important;
    padding: 12px 40px !important;
    line-height: 1 !important;
}