@import "custom-properties";

.f-message {
    display: flex;
    align-items: center;
    align-content: center;

    &.success {
        color: var(--f-message-success-color);
    }

    &.info {
        color: var(--f-message-info-color);
    }

    &.warning {
        color: rgb(232, 127, 64);
        border-radius: 5px;
        opacity: 0.5;
        background: rgba(249, 190, 80, 0.3);
        font-weight: 400;
    }

    &.error {
        color: var(--f-message-error-color);
    }

    .f-message-body {
        width: 100%;
    }

    &.prefix-slot, &.with-icon {
        .f-message-body {
            padding-inline-start: 8px;
        }
    }

    &.suffix-slot {
        .f-message-body {
            padding-inline-end: 8px;
        }
    }
}
.form-buttons .secondary {
    border-radius: 32.5px !important;
    background: rgba(49, 188, 60, 0.20) !important;
    color:#31BC3C !important;
    border:none !important;
}
.form-buttons .remove-button {
    border-radius: 32.5px !important;
    background: #E20000 !important;
    box-shadow: -1px 10px 20px #E20000 !important;
}

