@import "../../assets/scss/vars";

.account-info-box {
    .label.h3 {
        font-weight: normal;
    }
}
.wallet1-cvr {
    display: flex;
    align-items: end;
}
.row.wallet-msg {
    margin: 0px;
    padding: 0px 10px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 0px 150px 0px rgba(0, 0, 0, 0.08);
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
.wallet-transactions {
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 0px 210px 0px rgba(0, 0, 0, 0.08);
    padding: 20px;
    margin-top: 35px;
}
.walletdtl-edit {
    border-radius: 27px;
    background: #f0f0f0;
    max-width: max-content;
    padding: 9px 25px;
    margin-left: auto;
    padding: 10px;
    display: flex;
    align-items: center;
}
a.edit, a.copy {
	color: #000;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border-right: 1px solid #00000017;
	border-left: none;
	padding: 9px 24px;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 5px;
}
.walletdtl-edit a:last-child{
    border: 0 !important;

}
a {
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
    color: #fff;
}
#app, .view-wallet, .nec-slidebar{
    height: 100%;
}
@include media-max($bp-large) {
    .account-info-box {
        .account-actions-box {
            margin-bottom: 16px;
        }
    }
}

@include media-max($bp-small) {
    .account-info-box {
        .balance:first-child {
            margin-bottom: 8px;
        }
    }
}
