.delegations-info {
    .add-delegation-cont {
        text-align: center;
        margin-top: 32px;
        margin-bottom: 16px;
    }

    .f-tabs {
        ul {
            margin-inline-start: 20px;
            margin-inline-end: 20px;
        }
    }
    .addDelegation {
        outline: none;
        border: none;
        border-radius: 32.5px;
        background: #31bc3c;
        padding: 15px 44px;
        color: #fff;
        box-shadow: -1px 10px 20px #31bc3c9e;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 50px;
    }
    .addDelegation:hover {
        background: #31bc3c;

    }
}
