.connect-wallet-f-window {
    max-width: 520px;
    background-color:#FFF !important;
    .body {
        --f-window-body-padding-with-header: 32px 48px 48px 48px;
        background-color:#FFF;
    }
    .svg-icon {
        color: #E00E0E;
    }
    
}
