.view-account-history {
    .f-tabs {
        ul {
            margin-inline-start: 20px;
            margin-inline-end: 20px;
        }
    }
}
.bg-white{
    background-color: white !important;
}
.bor-20{
    border-radius:20px !important;
}
@media screen and (max-width: 450px) {
    .no-markers{
        flex-direction: column;
    }
}
