@import "../../assets/scss/vars";

$btns-border-radius: 48px;

.welcome-view {
    .intro {
        color: rgba(255, 255, 255, 0.75);
        text-align: center;

        h1 {
            font-size: 48px;
            color: #fff;
            font-family: 'Space Grotesk';
        }

        .subheading-section{
            font-family: 'Space Grotesk';
            color: #fff;
            font-size: 18px;
            font-weight: bold;
        }
    }

    .wallet-box{
        border: 1px solid #FFF;
        border-radius: 57px;
        background: #FFF;
        box-shadow: 0px 4px 115px 3px rgba(0, 0, 0, 0.05);
        margin-top: 50px;
    }

    .view-account-main {
        margin: 0 auto;
        max-width: 100%;

        .main-buttons {
            margin-bottom: 8px;

            display: grid;
            grid-column-gap: 32px;
            grid-auto-columns: 1fr;
            grid-auto-flow: column;

            margin-top: -50px;

            > * {
                margin-bottom: 16px;
            }

            button{
                border-radius: 57.834px;
                width: 250px;
                height: 60.39px;
                flex-shrink: 0;
            }

            .wallet-button-blue{
                background: #3378FC;
            }

            .wallet-button-green{
                background: #41B86C;
            }

            .wallet-button-cyan-blue{
                background: #0EBEC2;
            }
        }
    }

    @include buttons('.create-account-btn') {
        font-weight: bold;
        height: 80px;
        font-size: 20px;
        border-radius: $btns-border-radius;
    }

    @include buttons('.restore-account-btn') {
        font-weight: bold;
        height: 80px;
        font-size: 20px;
        border-radius: $btns-border-radius;
    }

    @include buttons('.ledger-accounts-btn') {
        font-weight: bold;
        height: 80px;
        font-size: 20px;
        border-radius: $btns-border-radius;
    }
}
.welcome-view .view-account-main .main-buttons{
    margin-top: -70px;
}
.welcome-view .view-account-main .main-buttons button{
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100% !important;
    max-width: 320px;
    padding: 25px 0;
    height: fit-content !important;
}
.welcome-view .view-account-main .main-buttons button.ledger-accounts-btn, .welcome-view .view-account-main .main-buttons button.ledger-accounts-btn:hover, .welcome-view .view-account-main .main-buttons button.ledger-accounts-btn:focus,.welcome-view .view-account-main .main-buttons button.ledger-accounts-btn:visited{
    background-color: #3378FC !important;
    box-shadow: #3378fca1 0px 25px 40px -7px !important;
}
.welcome-view .view-account-main .main-buttons button.create-account-btn, .welcome-view .view-account-main .main-buttons button.create-account-btn:hover, .welcome-view .view-account-main .main-buttons button.create-account-btn:focus, .welcome-view .view-account-main .main-buttons button.create-account-btn:visited{
    background-color: #41B86C !important;
    box-shadow: #41b86c85 0px 25px 40px -7px !important;
}
.welcome-view .view-account-main .main-buttons button.restore-account-btn, .welcome-view .view-account-main .main-buttons button.restore-account-btn:focus, .welcome-view .view-account-main .main-buttons button.restore-account-btn:visited,.welcome-view .view-account-main .main-buttons button.restore-account-btn:hover{
    background-color: #0EBEC2 !important;
    box-shadow: #0ebec282 0px 25px 40px -7px !important;
}
.welcome-view .view-account-main .main-buttons button.create-account-btn:hover, .welcome-view .view-account-main .main-buttons button.ledger-accounts-btn:hover, .welcome-view .view-account-main .main-buttons button.restore-account-btn:hover{
    box-shadow: none !important;
}
.installation-info .inst-buttons .installation-links{
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 10px;
}
.installation-info .inst-buttons .installation-links svg{
    width: 42px !important;
    height: 42px !important; 
}
@include media-max($bp-small) {
    .welcome-view {
        .intro {
            padding: 0 0 24px 0;

            h1 {
                font-size: 40px;
            }
        }
    }
}

@include media-max(800px) {
    .welcome-view {
        .view-account-main {
            .main-buttons {
                display: block;
            }
        }
    }
}

.row::after {
    content: "";
    clear: both;
    display: block;
}
  
[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
.account-name-exists{
    overflow: hidden;
}
.f-overlay.f-window-overlay{
    backdrop-filter: blur(6px);
    background: rgba(0, 0, 0, 0.03);
}
.create-account-color header, .pos-fixed.with-header.modal header{
    background: url('../../assets/image/NCOG-bg.jpg') !important;
    h2{
        color: #fff !important;
    }
    
}
.create-account-color .form-body .main .option{
    display: flex;
    align-items: revert;
    gap: 5px;
    height: auto;
}
.create-account-color .form-body .main .c-black{
    flex: 0 0 90%;
    margin-top: 0;
}

.mnemonic-phrase {
    ul.phrase-list{
        li{
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: flex;
            align-items: center;
        }
        .num{
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .svg-icon{
            width: 8px;
            height: 8px;
        }
    }
}

@media screen and (max-width: 900px) {
    .view-account-main .main-buttons .row{
        justify-content: center;
        align-items: center;
    }
}
.wallet-text{
    text-align: center;
}

@media screen and (max-width: 480px) {
    .installation-info .inst-buttons{
        grid-template-columns: repeat(2, 1fr);
    }
    .view-home .main .logo-section{
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    .with-header.modal{
        width: calc(100% - 25px);
        left: 13px !important
    }
    .installation-info .installation-description{
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
    }
    .welcome-view .wallet-text .btn, .welcome-view .wallet-text .btn:visited{
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
    }
    .installation-info .inst-buttons .installation-links{
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .installation-info{
        padding-top: 25px;
    }
    .welcome-view .view-account-main .main-buttons button{
        max-width: 352px;
        padding: 20px 0;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .welcome-view .intro h1{
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
    }
    .welcome-view .intro .subheading-section{
        font-size: 20px;
    }
    .view-home::before {
        height: 480px;
    }
}
@media screen and (max-width: 400px){
    .installation-info .inst-buttons{
        grid-template-columns: repeat(1, 1fr);
    }
}