.f-form {
    &.center-form {
        .form-body {
            max-width: 600px;
            margin: 0 auto;
        }
    }
}
.bor-30{
    border-radius: 30px !important;
}
.p-10{
    padding: 10px !important;
}
.bg-gray{
    background: #EDF1F4 !important;
}
.acc-address{
    padding-inline-end: 16px !important;
    color:#31BC3C !important;
    font-weight: 600 !important;
}
.bg-none{
    background: none !important;
}
.c-green{
    color:#31BC3C !important;
}
.fit-content{
    width: fit-content !important;
}
.c-white{
    color: #fff !important;
}
.bg-red{
    background-color: #E20000 !important;
}
.b-0{
    border: none !important;
}
.bg-green{
    background-color: #31BC3C !important;
}
.add-btn{
    box-shadow: -1px 10px 20px #31bc3c9e !important;
}
.save-button{
    outline: none;
    border: none;
    border-radius: 32.5px;
    background: #31bc3c;
    color: #fff;
    box-shadow: -1px 10px 20px #31bc3c9e;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.c-black{
    color:#000 !important;
}
.op-25{
    opacity: 0.25 !important;
}
.fw-500{
    font-weight: 500 !important;
}
.download-keystore{
    max-width: 100%;
    background-color: #41B86C !important;
}
.keystore-file{
    border:#0E8917 solid 1px;
}