@import "../../../assets/scss/vars";

.validator-list-dt {
    .offline {
        color: var(--f-error-color);
        //color: #f00;
        font-weight: bold;
    }

    .select-validator-mv {
        padding-top: 16px !important;
    }

    .validator-img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-inline-end: 0;
    }
}
.custom-select{
    max-width: 100% !important;
    outline: none !important;
    border: none !important;
    border-radius: 32.5px !important;
    background: #31bc3c !important;
    color: #fff !important;
    box-shadow: -1px 10px 20px #31bc3c9e !important;
    font-size: 22px !important;
    font-style: normal !important;
    line-height: normal !important;
}